#footer
  %a{:href => "http://validator.w3.org/check?uri=referer"}
    = image_tag('valid_html5.png')
    %a{:href => "http://jigsaw.w3.org/css-validator/check?uri=referer"}
      = image_tag('valid_css3.png')